.navbar {
  padding: 64px 32px 0 32px;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: var(--max-width);
}

.navbar-logo-container {
  width: 32px;
  height: 32px;
}

.navbar-logo {
  width: 100%;
  height: 100%;
}

.navbar-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-link a {
  text-transform: uppercase;
  color: var(--black);
  font-weight: 900;
}

.navbar-link a:hover {
  transition: all 0.2s ease-in-out;
  text-decoration: underline;
}

.navbar-link:not(:first-child) {
  margin-left: 42px;
}

#login-link {
  margin-left: 93px;
}

#login-link a {
  color: var(--black-50);
}

.navbar-hamburger {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

.header {
  margin: 162px 0 178px 0;
  padding: 0 32px;
}

.header-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0 auto;
  max-width: var(--max-width);
}

.header-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header-tag,
.header-lead {
  text-transform: uppercase;
}

.header-tag {
  color: #fff;
  background-color: var(--black);
  border-radius: 12.5px;
  margin-right: 15px;
  padding: 5px 11px;
  font-weight: 900;
}

.header-lead {
  color: var(--black-50);
}

.header-title {
  text-transform: uppercase;
  color: var(--black);
  margin: 16px 0 32px 0;
}

.header-subtitle {
  color: var(--black-75);
  margin-bottom: 64px;
}

.header-btn-description {
  text-transform: uppercase;
  color: var(--black-50);
  margin-left: 24px;
}

.header-img {
  position: absolute;
  width: auto;
  max-height: 455px;
  transform: translateY(-50%);
  top: 50%;
  left: 55%;
}

@media (max-width: 550px) {
  .navbar-links {
    display: none;
  }

  .navbar-hamburger {
    display: block;
  }
}
